.recipe-card-title>span {
   text-align: left;
   white-space: nowrap;
   overflow: hidden !important;
   text-overflow: ellipsis !important;
}

.recipe-card-text {
   position: relative;
   height: 100px;
   overflow: hidden;
   line-height: 1.2em;
}

.recipe-card-text::after {
   content: "";
   text-align: right;
   position: absolute;
   bottom: 0;
   right: 0;
   width: 40%;
   height: 1.2em;
   background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
