<!DOCTYPE html>
<html lang="en">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
   <title>Starter Template - Materialize</title>
   <link rel="stylesheet" href="styles.css">
   <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
</head>

<body>
   <div class="navbar-fixed">
      <nav class="purple" role="navigation">
         <div class="nav-wrapper container">

            <ul class="right hide-on-med-and-down">
               <li><a href="/auth/logout">Logout</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
               <li><a href="/auth/logout">Logout</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
         </div>
      </nav>
   </div>

   <main>
      <div class="section">
         <div class="container">
            <div class="row center">
               <a class="waves-effect waves-light btn btn-large blue darken-1" href="/auth/facebook"><i class="material-icons left">cloud</i>Login with facebook</a>
            </div>
         </div>
      </div>
   </main>

   <!-- Scripts -->
   <script src="bundle.js"></script>

</body>

</html>
